<a href="https://colab.research.google.com/github/VisheshJain112/Automate_Teacher_Assign/blob/master/teacher_algo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [311]:
import numpy as np
import random
import string
time_slots={}
def get_random_string(length):
    letters = string.ascii_lowercase
    result_str = ''.join(random.choice(letters) for i in range(length[0]))
    return result_str

for i in range(700):
  time_slots[get_random_string(np.random.randint(6,10,1))]=np.random.randint(1,7,np.random.randint(0,5,1))

In [312]:
print(time_slots)

{'zruedkye': array([5, 2, 1]), 'qrbktn': array([5, 6, 2]), 'yqvghfkby': array([2]), 'tolenjva': array([], dtype=int64), 'yrtfkjw': array([4, 5, 2, 3]), 'yovzfh': array([], dtype=int64), 'vxzupkhth': array([2, 1]), 'eezaovkbd': array([1, 5, 3, 5]), 'nypkcfp': array([6]), 'tomecs': array([3, 4, 6, 1]), 'julozcf': array([5, 1, 1]), 'kwkjtzua': array([3, 1]), 'dyombidje': array([], dtype=int64), 'fhgwmlhu': array([], dtype=int64), 'zsenhsz': array([5, 5]), 'mzylsjyqr': array([2, 6, 3, 4]), 'hgdbso': array([4, 6, 3]), 'ewqmkg': array([4, 6]), 'hgnzvfny': array([], dtype=int64), 'mlficefnw': array([3, 3, 6, 3]), 'cjoedlbl': array([], dtype=int64), 'agusdhhm': array([6, 3]), 'fmaflsblt': array([2]), 'jhpybujn': array([3, 6]), 'ytzbemaql': array([], dtype=int64), 'ubncve': array([2, 2]), 'mitfgbhi': array([4]), 'ussbbw': array([5, 2]), 'fgskmteom': array([4, 3]), 'dngwlfjoo': array([3, 5]), 'aunhnk': array([5, 2, 5, 6]), 'nkgwyybc': array([2]), 'ofawqna': array([6, 6, 3]), 'xywddbhuj': array([3]), 'nfyajiqof': array([], dtype=int64), 'yeujjhf': array([], dtype=int64), 'emjunhxin': array([3, 4]), 'taylhjiy': array([2, 6, 4]), 'edudlihwo': array([], dtype=int64), 'ltmvemrjq': array([4]), 'rjojyvo': array([5, 5]), 'gfnhsji': array([4]), 'totgaq': array([], dtype=int64), 'afmhyyotp': array([1]), 'qcnyjqirx': array([4, 1]), 'gozmfrp': array([5]), 'rftruntg': array([5, 4]), 'ojimwlbj': array([2]), 'pummlx': array([1, 2, 2]), 'jcnbjp': array([6, 3, 1, 6]), 'ijeuxyv': array([4, 1]), 'saihxenz': array([4]), 'xxyekpn': array([1, 5, 6]), 'dcaryc': array([3, 3, 6, 4]), 'ukfdwzjgq': array([2, 5, 6, 1]), 'msdbfyxxh': array([4, 2, 6, 6]), 'xrsikzdxh': array([], dtype=int64), 'xyyfxisvr': array([2, 2, 2]), 'wztepjxs': array([6]), 'cnuftu': array([], dtype=int64), 'oenmxrd': array([], dtype=int64), 'skfqobs': array([1]), 'ewjvyx': array([6, 1]), 'gxvyfgny': array([2, 6, 3]), 'ijhyobig': array([2, 1, 1]), 'rxwyltwp': array([1, 1, 1, 3]), 'ghthhcb': array([], dtype=int64), 'ytraktp': array([], dtype=int64), 'lnhruu': array([3, 2, 2]), 'bzccjz': array([6]), 'jefypsyg': array([4, 6]), 'mxjkhz': array([], dtype=int64), 'gmshvdni': array([1]), 'aikiexvh': array([6, 1, 3]), 'couunyry': array([3, 2, 4]), 'ooxjnumkr': array([6, 1, 4, 1]), 'rgggdodw': array([6, 4, 4, 2]), 'tpmahc': array([6, 2]), 'qvyjtirw': array([6, 6, 5]), 'xjirsq': array([], dtype=int64), 'bypcwiz': array([], dtype=int64), 'hwvhdvp': array([2, 6, 2, 1]), 'epkdmdkem': array([3, 1]), 'tbsdqfpa': array([1, 4, 5]), 'mioxokzy': array([2, 1, 4, 3]), 'otzcegk': array([6, 6]), 'dyynuujqi': array([5, 6, 2]), 'sqcjaxigd': array([4, 3]), 'sruodpt': array([2]), 'kecicub': array([], dtype=int64), 'vlxplzx': array([6]), 'kxlzxdwaq': array([], dtype=int64), 'sbwlwi': array([5, 4, 2]), 'vbvadmlj': array([3, 2, 4]), 'lqhohz': array([5, 2, 2]), 'tatndpbq': array([1]), 'zlzshfz': array([6, 5, 4, 3]), 'mypkya': array([2]), 'tixwxby': array([], dtype=int64), 'ybobhd': array([4, 3, 6]), 'piqxaeq': array([], dtype=int64), 'dqondc': array([4, 1]), 'pqbbwyvzc': array([1, 4, 4]), 'awkzai': array([5, 2]), 'riiccsf': array([], dtype=int64), 'ybfuaepjh': array([], dtype=int64), 'rymhps': array([6]), 'ouxzskmn': array([2, 1]), 'fljpserz': array([1, 4]), 'hamnhvqjd': array([3, 2, 2]), 'einnfpgqc': array([3, 3, 1]), 'iqeqcyrog': array([3, 5, 1]), 'fyoupdg': array([4, 6, 5]), 'vkmddaxpk': array([6, 6]), 'fsvvrst': array([3]), 'cdsltedi': array([5, 6]), 'gxwxhk': array([], dtype=int64), 'bxxclwj': array([3]), 'oxhptphi': array([6, 5, 1, 1]), 'loxmilfft': array([4, 5]), 'mixvaqqon': array([2, 4]), 'ssslvvchh': array([5, 4, 2]), 'mfczgfo': array([4, 3, 6, 6]), 'mwnefdo': array([], dtype=int64), 'vgfhmejh': array([2, 3, 5, 5]), 'linnrpso': array([], dtype=int64), 'kuabdqhl': array([4, 1, 1]), 'liphrfyg': array([4, 6]), 'ooyone': array([5]), 'naosunubs': array([2, 4]), 'xodatqjv': array([], dtype=int64), 'famqyqfz': array([3, 3]), 'dzgzxk': array([4, 6]), 'cslqkk': array([3, 2, 4]), 'zhmpjgdcl': array([1, 4]), 'ytxqttqwn': array([1]), 'yjyoke': array([6, 2, 1, 5]), 'gwkbepwjf': array([4, 4, 5, 2]), 'azotqn': array([4]), 'lathir': array([5]), 'jpmytqun': array([], dtype=int64), 'pwcdtd': array([1, 1]), 'udwtmag': array([4]), 'yzyuuw': array([6, 5, 4]), 'leoekvtue': array([1]), 'mcsvjllrf': array([6, 2, 3]), 'febthds': array([], dtype=int64), 'kjavsc': array([5, 1, 5, 6]), 'jkczgpq': array([5, 5, 1]), 'ulltxt': array([6, 5, 6]), 'gptzjydd': array([4]), 'zhjsivukq': array([5, 2]), 'vccpuye': array([2, 3, 6]), 'nkouneerw': array([], dtype=int64), 'ocgisnru': array([6, 6, 5]), 'hjxoas': array([4]), 'vhrugaxe': array([], dtype=int64), 'ibsmmwle': array([4, 4, 1]), 'oukjcvxp': array([6, 3, 3, 4]), 'aswsaede': array([], dtype=int64), 'gauhec': array([5, 6, 4]), 'fucqsxcwk': array([2, 6, 5]), 'bqcjpufv': array([2, 2, 1]), 'epdpaynb': array([], dtype=int64), 'zadmeamd': array([1]), 'npkfqbzt': array([], dtype=int64), 'muwnsqr': array([3]), 'iectgqqb': array([4]), 'arxoetyb': array([5, 6, 6]), 'xxfotqe': array([2, 2, 3, 3]), 'nojzlpt': array([], dtype=int64), 'fesgtcghk': array([6, 6, 3]), 'eurluzioq': array([1]), 'zmyhlcg': array([5]), 'fdzpuo': array([6, 6, 3]), 'svbhrp': array([4]), 'gypziytq': array([], dtype=int64), 'qfhysl': array([5, 1, 1]), 'aghvinkna': array([1, 3, 1]), 'wlnasncqv': array([], dtype=int64), 'kfcyaoed': array([], dtype=int64), 'zxnkemy': array([3]), 'ttccraubz': array([3, 4, 1, 6]), 'nfewwdziw': array([], dtype=int64), 'agfeypw': array([3, 6, 2, 1]), 'aijgioa': array([2, 1, 2]), 'igbldpfr': array([], dtype=int64), 'srnqhmr': array([1]), 'mtfnzjeaw': array([1]), 'vubclrlll': array([4]), 'tvwvszlhy': array([2, 6, 2]), 'vbuheeyf': array([4, 6]), 'qzsfsm': array([3, 2, 4, 1]), 'cyqnvmkw': array([4]), 'fpmthmt': array([], dtype=int64), 'wwmvdsr': array([], dtype=int64), 'jgkxcqoj': array([2]), 'lknbmy': array([5]), 'merclqp': array([], dtype=int64), 'aidvmvsde': array([4, 1]), 'qoalbxw': array([2]), 'nmqwedw': array([3, 2, 6, 1]), 'zodunqzso': array([], dtype=int64), 'tqspniuy': array([6, 5, 1]), 'rxldkj': array([5, 4, 6, 5]), 'rdldxxi': array([], dtype=int64), 'knkaiba': array([4, 2]), 'fffeacrf': array([], dtype=int64), 'ozmqswzza': array([2, 2]), 'tkmknl': array([1]), 'qedtsbo': array([3, 6]), 'jcpgmkhpv': array([6, 2, 4, 3]), 'yisdhsgk': array([5, 2]), 'pzbrils': array([4]), 'hkhqtgyp': array([], dtype=int64), 'wdxvlmbn': array([1, 6, 5]), 'ebivzxvlc': array([2]), 'qivimtlo': array([], dtype=int64), 'tqfnmoi': array([5, 1, 1]), 'usqzqet': array([], dtype=int64), 'qwoimv': array([4, 3, 4]), 'beqkelm': array([3, 2]), 'zaqnks': array([], dtype=int64), 'mvqobkjpc': array([], dtype=int64), 'hdprigpg': array([], dtype=int64), 'wlvbyh': array([5, 5]), 'pbvepm': array([1, 6, 1, 3]), 'rtbrwl': array([4]), 'xfkoyjpmn': array([5]), 'nzwfgk': array([6, 3, 6, 3]), 'kdveofm': array([2, 6, 3]), 'cnmrpspvd': array([6]), 'mxdoshhrq': array([2, 6]), 'dlselt': array([], dtype=int64), 'yigtmpxjn': array([6, 5]), 'hhvmmdbq': array([6]), 'vvrvtkx': array([4]), 'hlaepsw': array([6, 5]), 'hxbkclz': array([6, 3, 4]), 'cmmury': array([1]), 'jmsivbgi': array([6, 2, 2, 5]), 'caienketz': array([3]), 'njrgzicsz': array([6, 4, 6]), 'dwvqeycb': array([], dtype=int64), 'livddtxp': array([6, 3]), 'iiewevaa': array([5]), 'lvvgakqcx': array([2, 2]), 'uifzgez': array([5, 1]), 'hfikamwg': array([], dtype=int64), 'mqujpiqt': array([5, 4]), 'phmbjw': array([1, 3, 4, 1]), 'dvruyl': array([], dtype=int64), 'plcxbsbdi': array([3]), 'ukwqhd': array([6, 5]), 'oihzuayt': array([], dtype=int64), 'ynefadiw': array([2, 3, 1]), 'hyjgsj': array([4]), 'mdiyox': array([1, 6]), 'mmrebuupo': array([], dtype=int64), 'gfocko': array([], dtype=int64), 'naruas': array([5]), 'tyfruxnan': array([3, 2]), 'mpijnhsxe': array([5, 4, 4]), 'hqwand': array([2, 5, 4]), 'nnksqokjy': array([4, 5, 6, 4]), 'ektwhguf': array([], dtype=int64), 'hzkfcah': array([3]), 'vqyjim': array([1, 1, 4, 3]), 'gtutrpa': array([], dtype=int64), 'uhtdmvop': array([1, 2, 1, 6]), 'oyrmoubo': array([5]), 'etsettmc': array([], dtype=int64), 'psarst': array([2]), 'klloqzs': array([3, 3, 6, 5]), 'kpwclm': array([3]), 'ebsyfdsw': array([6]), 'tasdkmuvk': array([], dtype=int64), 'yupsqdpq': array([2, 1, 2, 6]), 'hufthhg': array([6]), 'ioymqpnvx': array([2, 4]), 'jzeihj': array([3, 2, 6, 4]), 'rqaomcn': array([], dtype=int64), 'quqwbr': array([], dtype=int64), 'yoltjshh': array([1, 3, 2, 4]), 'pixhbrawk': array([1]), 'qmyvio': array([5]), 'gmjtrtlij': array([5, 5]), 'gieahsbb': array([], dtype=int64), 'vmmdqcs': array([3, 3, 4]), 'fszlak': array([3, 3, 6, 3]), 'pugtduelb': array([1]), 'vygrvij': array([2]), 'uqcgcak': array([1, 6, 3]), 'hmltrf': array([2, 5, 3]), 'bheolw': array([4, 5, 2, 2]), 'jzzayq': array([4, 6]), 'nuhftpiwj': array([6, 1, 2]), 'xvooemgc': array([1, 5]), 'yiylicnh': array([6, 1]), 'ajzrvfc': array([4, 5]), 'kbwslx': array([3, 3, 2]), 'plxmuo': array([1, 6]), 'taafwc': array([2, 4]), 'ubroas': array([5, 1, 2, 1]), 'cuhcvrc': array([2, 2]), 'zvjeuqme': array([4]), 'wonpotxqr': array([1]), 'twxeavqq': array([3, 1, 3, 3]), 'wojrqc': array([6]), 'otjckac': array([1, 1, 2]), 'axewquh': array([5, 5, 5, 6]), 'zdqygvotc': array([2]), 'ccqqzznt': array([4, 5, 3]), 'bxpcacbkk': array([1, 6, 2, 2]), 'fjsbzfet': array([3, 4, 3, 1]), 'lgmjmse': array([], dtype=int64), 'voakuman': array([], dtype=int64), 'cuwkfudzg': array([4, 5, 3]), 'ktkklef': array([3, 2, 3, 1]), 'blqkggld': array([1, 3]), 'xlddanh': array([1, 1, 1]), 'qfgsantrf': array([], dtype=int64), 'yvnfulij': array([], dtype=int64), 'rqhwbaby': array([2]), 'lvncpofg': array([], dtype=int64), 'phftqzbxo': array([6, 6]), 'pyxlnirlo': array([4, 4, 2, 3]), 'goebcwuux': array([6, 1, 4, 3]), 'usfcuagm': array([4, 4, 4, 5]), 'olgzbrlq': array([2, 3, 5]), 'dglbhagrl': array([1, 6, 2, 1]), 'oxhucmen': array([3, 5, 3]), 'zyqznnfhq': array([6, 3, 1]), 'xtqoxl': array([], dtype=int64), 'uzikfs': array([1, 2]), 'wzuzcol': array([1, 1, 2, 3]), 'cgpgol': array([], dtype=int64), 'gnsjumg': array([5, 4, 3]), 'efignbqw': array([5, 5]), 'jqwezqd': array([1, 4, 3]), 'vsqkwkl': array([2, 1]), 'pxdrqrs': array([2, 5, 3]), 'tzujefc': array([2]), 'tkaucnkbj': array([1, 6, 4, 5]), 'bzyuqb': array([2, 6, 2, 1]), 'qiuwybly': array([4, 3]), 'hubcpepc': array([6, 2, 1, 5]), 'erpmbx': array([3, 4]), 'hvrquk': array([2]), 'ocamxop': array([3, 2, 4]), 'vwoaxmxw': array([2]), 'cqzgsc': array([2]), 'bxwlkbfiy': array([5]), 'fnauninl': array([5, 4, 5, 4]), 'ivigfg': array([1]), 'imvsuh': array([2]), 'ayptyog': array([4, 6]), 'zovocm': array([5, 1, 4]), 'zismnmwl': array([5, 5, 5]), 'trkulkk': array([], dtype=int64), 'fcxnzgexk': array([3, 5]), 'joylgiys': array([4, 1, 3]), 'fwweqpqo': array([4]), 'mzcnwxhom': array([3, 1, 2]), 'pflbwegcv': array([5, 2, 3]), 'lbmwinmsm': array([2, 6]), 'wnkrjip': array([4, 3, 4, 2]), 'dcgjui': array([6, 1, 6, 4]), 'xoeabm': array([4, 6, 2, 2]), 'nvyevjzfy': array([1, 4, 4, 1]), 'wzbzgfj': array([1, 2, 1, 6]), 'cejgxb': array([1]), 'dwhfzxep': array([4, 1, 1, 4]), 'ugslgryz': array([2, 5, 4]), 'dmkzocox': array([1]), 'gpqetw': array([6, 1, 1]), 'kpiokl': array([2, 1, 5]), 'ibhqiy': array([2, 2, 4]), 'hwjacorni': array([], dtype=int64), 'ilarxr': array([4, 6, 5, 1]), 'ndxutzne': array([1, 1]), 'xvcjwems': array([1, 5, 4, 4]), 'uevmeh': array([3, 1, 6]), 'yqnngfza': array([4, 4]), 'jprcwdwyo': array([4]), 'jaasjmfwq': array([6, 2, 1]), 'cbnuoiyhg': array([], dtype=int64), 'myghou': array([], dtype=int64), 'kytfsmyro': array([4, 1]), 'ceifixwe': array([1, 6]), 'dafpsaz': array([5, 2]), 'wldavnyh': array([], dtype=int64), 'gbfxap': array([1]), 'faahcli': array([3, 1, 3, 5]), 'gcpscjzdo': array([5, 3]), 'hrmmhudpv': array([5]), 'zlmhyiyo': array([], dtype=int64), 'exnued': array([1, 2]), 'vsxhrjz': array([1]), 'zkyysjhq': array([5, 2, 2]), 'ikqugy': array([3, 4, 5, 5]), 'qpxcoj': array([4]), 'bqgudmnr': array([3]), 'fcxlhl': array([], dtype=int64), 'awtciqy': array([2, 3, 6, 4]), 'ljytxhfs': array([], dtype=int64), 'uxhgtudwx': array([5, 4]), 'zmonlben': array([2, 4]), 'sqgcny': array([], dtype=int64), 'uvxgnzamo': array([2, 5, 2, 1]), 'pfiamrll': array([6, 5, 3, 4]), 'viwblau': array([], dtype=int64), 'gmwbcf': array([4, 4, 5]), 'dfswtu': array([4]), 'tubkgtgu': array([], dtype=int64), 'dqnyfej': array([5, 4, 2]), 'mchriunje': array([5, 5, 4]), 'gvoihj': array([3, 1, 2]), 'zhrwdsr': array([1]), 'wcubxboc': array([3]), 'bnzzmzram': array([4, 2, 6, 3]), 'yjaqqiwni': array([1]), 'qfalppgcz': array([], dtype=int64), 'ewtbsc': array([], dtype=int64), 'mracdnu': array([6]), 'ijnmogx': array([], dtype=int64), 'ifmhglva': array([5, 3]), 'elnyvthx': array([1]), 'tmupepddi': array([1, 2, 5]), 'wmnhgx': array([], dtype=int64), 'ibondl': array([4, 5, 2]), 'oglqkve': array([3, 1, 1]), 'iuiwwylnw': array([4, 4]), 'tykedkwqi': array([2, 3, 4, 5]), 'kfqwjibb': array([4, 4, 2, 3]), 'svgzwusb': array([1]), 'feqifngk': array([3, 5, 1, 2]), 'voovpw': array([5, 3, 6, 5]), 'kydwiegjd': array([6]), 'bzgnpg': array([3, 5, 2, 3]), 'xtqmdkjtx': array([], dtype=int64), 'rayjcl': array([4, 4, 4, 3]), 'fcuqid': array([], dtype=int64), 'mopwzytpw': array([], dtype=int64), 'wuatvxq': array([5, 4]), 'iqigad': array([5, 4, 3]), 'dwwracou': array([6]), 'uenbhefw': array([2]), 'huvroau': array([6]), 'hfjesx': array([1, 2, 2]), 'urctlq': array([4]), 'jhsfnapsi': array([1, 1, 6, 3]), 'veclspun': array([1]), 'wnvzaxjc': array([5]), 'osmqpcud': array([5, 1, 6]), 'ssgnhh': array([], dtype=int64), 'liawbxe': array([5, 6]), 'mfhoogo': array([5, 5]), 'rlfork': array([5, 2]), 'xxirnzd': array([2, 2, 4, 3]), 'smsznvcku': array([1, 4, 5]), 'brbefu': array([3, 4, 2]), 'dbplpy': array([5, 2, 4, 1]), 'funiksk': array([1, 6, 5, 1]), 'pjborxnhl': array([3, 4, 4, 5]), 'grbckc': array([], dtype=int64), 'yudjzlm': array([5, 4, 5, 3]), 'qwsdygb': array([5, 5]), 'cruoop': array([], dtype=int64), 'plcbuvpjn': array([3]), 'qlfozqb': array([], dtype=int64), 'awrcqgr': array([5]), 'lrawgo': array([5, 3, 5]), 'gzmqhtxqr': array([1]), 'jrhnvi': array([1, 2, 4, 4]), 'hijlmpbu': array([3]), 'mwcjqj': array([4, 3]), 'tpoeyhk': array([2, 3, 3, 6]), 'hohycbw': array([2]), 'gyyvnu': array([2, 1]), 'ikekpjt': array([3]), 'tpggceujq': array([2, 2, 1, 3]), 'zgooopcxz': array([], dtype=int64), 'obwatl': array([4, 2, 4]), 'vchedpxk': array([], dtype=int64), 'vramgnjv': array([6]), 'mmvuhn': array([1, 4, 4]), 'pqaydpw': array([6, 4, 6]), 'ewxyqe': array([2, 2]), 'cuoicke': array([5, 2, 1, 6]), 'swoxjwa': array([2, 1]), 'emvnznuvs': array([4]), 'qlyvcqmjs': array([1, 5, 1, 4]), 'umztqie': array([2, 4]), 'avonuv': array([2, 4, 2]), 'qrgabkl': array([], dtype=int64), 'tifazx': array([], dtype=int64), 'xepdbc': array([5, 4, 4]), 'hideyap': array([5]), 'xxuitm': array([], dtype=int64), 'kfqevjb': array([2, 3]), 'wwrvim': array([4]), 'sgqbkt': array([5, 3]), 'dvlpdcqw': array([3]), 'qahsbl': array([], dtype=int64), 'ojywfsx': array([], dtype=int64), 'otvwhz': array([], dtype=int64), 'lcmqprhli': array([1, 5]), 'zoqjxh': array([], dtype=int64), 'rrlzqcymf': array([4, 5]), 'zdjpyy': array([], dtype=int64), 'shyzuwnlv': array([2]), 'isstpbrhr': array([3, 5, 3, 4]), 'hapwlrv': array([5, 5]), 'fqdzxjbf': array([4, 2, 4, 5]), 'jtrvjpg': array([3, 6, 6, 5]), 'riduxjbo': array([6, 2, 3]), 'gzkqnf': array([3, 2, 3, 1]), 'zwchequg': array([], dtype=int64), 'pcwnvn': array([1, 4, 5]), 'neqrxdumr': array([4, 4]), 'uzgqqfyoe': array([], dtype=int64), 'kybnpzd': array([], dtype=int64), 'iorhprt': array([], dtype=int64), 'xudjju': array([6, 3]), 'ilydcnem': array([5, 4, 6]), 'qmmssfzc': array([4, 1, 5, 4]), 'fkhgpxfb': array([2, 2]), 'cheeas': array([2]), 'mjjtklv': array([2]), 'ipqgan': array([6, 6]), 'szndshfe': array([5, 6]), 'wxkkhjgz': array([3, 2, 3, 1]), 'nmbytl': array([6, 3, 3, 3]), 'axtacoae': array([], dtype=int64), 'xzzvbv': array([3, 2]), 'sunbucpuy': array([], dtype=int64), 'nehknonfz': array([3, 2]), 'wwxnafel': array([2]), 'diyerp': array([3, 2, 3, 3]), 'ophhld': array([6, 3]), 'jiufpuyhe': array([], dtype=int64), 'vgymqrb': array([3, 5]), 'zzbknueh': array([1, 1, 1, 2]), 'cnppzyr': array([], dtype=int64), 'crrcycywh': array([5, 5, 4, 2]), 'qqmpcrpy': array([6, 2]), 'jdiltwjt': array([], dtype=int64), 'gkkkhv': array([5, 3]), 'jguwsnpol': array([3]), 'ewkdega': array([], dtype=int64), 'dunrvev': array([3]), 'jgjmlx': array([5, 3]), 'lhjwsoxv': array([], dtype=int64), 'ggaeydof': array([3]), 'nhvxuzew': array([], dtype=int64), 'yffptn': array([1, 6, 5, 5]), 'oysnimt': array([6, 2]), 'sdplgrju': array([], dtype=int64), 'mqicaahe': array([6, 3, 2, 4]), 'skpltvwhk': array([2]), 'usuxye': array([6, 5, 3, 4]), 'kiujub': array([6, 4, 5, 2]), 'oenimmi': array([2, 1]), 'exxqwlex': array([4, 3, 6]), 'pqejevo': array([], dtype=int64), 'jflrth': array([6]), 'hujvysl': array([6, 4, 1, 2]), 'domtuw': array([5]), 'qdofein': array([2, 1]), 'bnfsef': array([1, 5, 6, 6]), 'mcorxxiuo': array([1, 5, 6]), 'dpzfcsxdt': array([2, 3, 1, 5]), 'xccdgy': array([1, 1]), 'iivydnvx': array([4, 4, 3, 6]), 'fxjuaffc': array([], dtype=int64), 'cbnupjt': array([], dtype=int64), 'ovjqqbjkz': array([5, 1, 5, 1]), 'nvxbmh': array([1]), 'ylenyibll': array([], dtype=int64), 'gdturlwo': array([1]), 'pywnfue': array([], dtype=int64), 'jatpcqfkt': array([3, 3]), 'pamtzdqbp': array([5]), 'eyozbe': array([], dtype=int64), 'mqahco': array([], dtype=int64), 'peepxfd': array([2, 2, 1]), 'efhkejha': array([1, 3, 6, 3]), 'ccrndhubl': array([1, 4, 2, 1]), 'fgndwejpb': array([], dtype=int64), 'zkorzvd': array([5, 6, 5]), 'wzfkfrvr': array([1, 1, 6, 6]), 'fbllnpf': array([3, 5, 4]), 'zkitmt': array([3, 4, 3]), 'hzvkywic': array([1]), 'bngqbi': array([2, 1]), 'lbbtdw': array([4, 1, 4, 5]), 'lhaguhx': array([3, 5, 6, 5]), 'tlbfykiq': array([2, 6, 4, 4]), 'ymskwbdek': array([4, 6, 5]), 'zbmfgk': array([3, 5, 3]), 'wfjodff': array([], dtype=int64), 'snpzeztv': array([3, 6]), 'eqvjwsrmu': array([1]), 'ariscpjxw': array([6, 5, 5]), 'psuyus': array([], dtype=int64), 'nwhtauyx': array([2, 6, 2, 6]), 'vppiucefb': array([3, 1, 3, 4]), 'rzvpkftqk': array([2, 4, 1, 2]), 'ppbsamb': array([2]), 'sckgvd': array([], dtype=int64), 'zacyii': array([6]), 'itmqksghq': array([5, 5]), 'fvvlljk': array([1, 5, 1]), 'suqnvayp': array([5, 4, 3]), 'dooaaep': array([3, 2, 2, 1]), 'wugtrul': array([1]), 'lglymslj': array([5]), 'dqpwkismq': array([3, 3, 3, 6]), 'veilqgm': array([], dtype=int64), 'dgmomcnfx': array([1]), 'rlhbmmduh': array([2, 5, 1]), 'rngmjejg': array([3]), 'pjieovn': array([], dtype=int64), 'nwnnoajf': array([2, 6, 3, 3]), 'zupybfirp': array([6, 5]), 'lqlrgdijr': array([5, 4, 5]), 'pdkyhk': array([5, 5, 4]), 'zkvyzvnw': array([6]), 'vphnsstdy': array([1, 1, 3, 3]), 'avxnwlp': array([6, 6, 6]), 'mkfalth': array([], dtype=int64), 'ssfgatfs': array([1, 3, 6]), 'mkvcrml': array([], dtype=int64), 'xxysio': array([6]), 'cvhhfiz': array([1, 4, 3]), 'vhlxqtt': array([2]), 'mjxqzqh': array([3, 6, 4]), 'eaqmqpvra': array([6, 5]), 'ljixcda': array([2, 2, 4, 6]), 'yoyaeu': array([2, 1, 6, 6]), 'ddnintlug': array([], dtype=int64), 'ydoxoe': array([3, 3, 4, 1]), 'shcaqtmxi': array([4, 5]), 'yylkjh': array([2, 6, 1]), 'bxzspxflb': array([], dtype=int64), 'rmtychhyy': array([], dtype=int64), 'wtkonye': array([2]), 'gkwqqwuvd': array([], dtype=int64), 'twawhvmkg': array([1]), 'cuvtncbz': array([1, 5, 6, 5]), 'fzexwtonu': array([], dtype=int64), 'psabxf': array([6, 1, 3, 6]), 'sqbogcu': array([5, 6, 6, 1]), 'nxaljbha': array([6, 2]), 'kldwab': array([], dtype=int64), 'cxlbyw': array([], dtype=int64), 'ipkhpufcq': array([2, 3, 6, 1]), 'vjlxhxga': array([3, 1]), 'bzeqacuxq': array([4, 5, 1, 2]), 'hbxfysou': array([3]), 'ijsqnrtzh': array([2]), 'fhaqqu': array([4]), 'xmpooqr': array([4, 5, 2, 3]), 'qfjkpdql': array([6]), 'cjbbgukek': array([2, 2, 2]), 'rhyazyff': array([], dtype=int64), 'esckqbnyj': array([1, 3, 5, 3]), 'qmuktp': array([], dtype=int64), 'oahlux': array([3, 4, 6]), 'egohqypd': array([5, 3, 3]), 'lugdkt': array([6, 3]), 'wgoruoys': array([3, 4, 2, 5]), 'rrrarcpo': array([3, 3, 4]), 'wjhkzllf': array([3, 6, 1]), 'ylqsevq': array([3, 4, 2, 2]), 'raisglyb': array([], dtype=int64), 'zroycui

In [313]:
teacher_names=time_slots.keys()

In [314]:
teacher_ratings={}
for i in teacher_names:
  teacher_ratings[i]=list(np.random.randint(1,6,1))[0]

In [315]:
ratings_by_teacher= {} 
for key, value in teacher_ratings.items(): 
   if value in ratings_by_teacher: 
       ratings_by_teacher[value].append(key) 
   else: 
       ratings_by_teacher[value]=[key]

In [55]:
#d={**time_slots,**teacher_ratings}

In [316]:
import pandas as pd
df=pd.DataFrame(index=teacher_names)
df.index.names=['Teacher_Names']

df['Teacher_Ratings']=teacher_ratings.values()
df['Available_time_slots']=time_slots.values()

In [317]:
df

               Teacher_Ratings Available_time_slots
Teacher_Names
zruedkye                     2            [5, 2, 1]
qrbktn                       2            [5, 6, 2]
yqvghfkby                    4                  [2]
tolenjva                     1                   []
yrtfkjw                      1         [4, 5, 2, 3]
...                        ...                  ...
fnuuszef                     4            [1, 6, 6]
dzkfogsb                     5                  [5]
xnbsdhzs                     4               [3, 4]
evyrtr                       1                  [3]
kcuwmzf                      3                   []

[700 rows x 2 columns]

In [320]:
df.to_csv("/teacher_availablity.csv")

In [321]:
def read_data():
  df=pd.read_csv("/teacher_availablity.csv")
  teacher_names=df['Teacher_Names']


  teacher_ratings = dict(zip(teacher_names, df['Teacher_Ratings'].values))
  

  ratings_by_teacher= {} 
  for key, value in teacher_ratings.items(): 
    if value in ratings_by_teacher: 
        ratings_by_teacher[value].append(key) 
    else: 
        ratings_by_teacher[value]=[key]
  test_st=[]

  for i in df['Available_time_slots'].values:
    try:
      strk=(i[1:len(i)-1]).split()
      test_st.append(list(map(int, strk))) 
    except TypeError:
      strk=[i]
      test_st.append(strk)
    
  df['Available_time_slots']=test_st



  time_slots = dict(zip(teacher_names, df['Available_time_slots'].values))
   
  return teacher_names,teacher_ratings,ratings_by_teacher,time_slots

In [322]:
time_slots.values

In [346]:
import tqdm
def book_time_slot():
  #print("Available Slots :")
  #for i in tqdm(range(1,7)):
    #print("{} ""(datetime.now()).date())
  print("ENTER THE TIME SLOT YOU WANT TO BOOK :")
  
  time_book=input(" {} ".format((datetime.now()).date()))
  
  
  return int(time_book)

datetime.datetime(2020, 8, 8, 15, 30)

In [330]:
def closest(lst, K): 
    if(len(lst)>0):
      
      return lst[min(range(len(lst)), key = lambda i: abs(lst[i]-K))]
    else:
      return 0

In [351]:
from datetime import datetime
def search_time_slots(time_book):
  abouts=['{} is a excellent in algebra and has completed major in mathematics from Top University',
  '{} has expreince of 3 years in teaching maths to students' ,' {} has taught more than 100 students, helped them achieve excellent mathematical skills']
  epochs=4
  while(epochs>0):
    for teacher in  ratings_by_teacher[epochs]:  
      available_time_slots=list(time_slots[teacher])
      
      nearest_time=closest(available_time_slots,time_book)
      if (abs(nearest_time-time_book)<1):
        print("Would you like to book demo with {} with rating {}/5 at {} {} PM time".format(teacher,epochs,(datetime.now()).date(),nearest_time))
        print("About out teacher {} ".format(teacher))
        print(random.choice(abouts).format(teacher))
        print("yes or no")
        confirm=input()
        
        if (confirm == 'yes'):
          
          print("Congratulations Your demo is booked with {} at time {} {} PM ".format(teacher,(datetime.now()).date(),nearest_time))
          available_time_slots=[(set(available_time_slots).discard(nearest_time))]
         
          df.loc[df.index== teacher, 'Available_time_slots']=list(available_time_slots)
          print("Our teacher will be waiting for you :)")
          save_the_file(df)
          print("Thanks For choosing Cuemath")
          epochs=0
          break
        
        else :
          
          pass
      else:
        pass
    epochs-=1

In [333]:
def save_the_file(df):
  import os
  try:
    os.remove("teacher_availablity.csv")
  except FileNotFoundError:
    pass
  os.chdir("/")
  df.to_csv("teacher_availablity.csv")

In [334]:
def conf_time_slot():
  time_book=book_time_slot()
  search_time_slots(time_book)

In [352]:

import pandas as pd

import numpy as np

teacher_names,teacher_ratings,ratings_by_teacher,time_slots=read_data()
conf_time_slot()

ENTER THE TIME SLOT YOU WANT TO BOOK :
 2020-08-08 5
Would you like to book demo with zsenhsz with rating 4/5 at 2020-08-08 5 PM time
About out teacher zsenhsz
zsenhsz is a excellent in algebra and has completed major in mathematics from Top University
yes or no
yes
Congratulations Your demo is booked with zsenhsz at time 2020-08-08 5 PM
Our teacher will be waiting for you :)
Thanks For choosing Cuemath

               Teacher_Ratings Available_time_slots
Teacher_Names
ckerrk                       4            [2, 1, 3]
bwmzkeu                      1            [6, 5, 3]
vzjhzqg                      3                   []
uoaeju                       2            [2, 2, 3]
ogoatpzl                     3         [1, 3, 1, 1]
...                        ...                  ...
jfvzhzwn                     1                   []
edeayshc                     3         [6, 1, 4, 5]
tfzqtk                       2            [1, 3, 6]
jgoyhgk                      4         [5, 4, 5, 5]
eoepzvsfs                    5                  [2]

[700 rows x 2 columns]

In [65]:
df[df.index=='jcflqz']

Empty DataFrame
Columns: [Teacher_Ratings, Available_time_slots]
Index: []